.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
#masthead .wrapper:before,
#masthead .wrapper:after,
ul.social-media:before,
ul.social-media:after,
#content .wrapper:before,
#content .wrapper:after,
#aux-menu:before,
#aux-menu:after,
#primary-menu:before,
#primary-menu:after,
.footer-navigation ul:before,
.footer-navigation ul:after {
    content: "";
    display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
#masthead .wrapper:after,
ul.social-media:after,
#content .wrapper:after,
#aux-menu:after,
#primary-menu:after,
.footer-navigation ul:after {
    clear: both;
}
