.sticky {
    display: block;
}

.blog .hentry, .archive .hentry, .search .hentry {
    margin: 0 0 2.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    /*display: inline;*/
    display:none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: .5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

article.post {
    font-weight:300;
}

.more-link {
    display:table;
    color:#000;
    text-decoration:none;
    font-weight:700;
    font-style:italic;
}

.entry-meta, .entry-footer {
    font-size:.8em;
}

.entry-meta {
    font-weight:300;
}

.entry-footer {
    font-weight:500;
    font-style:italic;
}

.entry-footer span.cat-links, .entry-footer span.tags-links, .entry-footer span.comments-link, .entry-footer span.edit-link {
    display:block;
}

.entry-footer span.cat-links a, .entry-footer span.tags-links a, .entry-footer span.comments-link a {
    text-decoration:none;
}

.entry-footer span.cat-links a:hover, .entry-footer span.tags-links a:hover, .entry-footer span.comments-link a:hover {
    text-decoration:underline;
}

.entry-footer span.edit-link a:hover {
    text-decoration:none;
}

@media screen and (min-width:975px) {
    .page-content,
    .entry-content,
    .entry-summary {
        font-size:.9em;
    }
}